
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@600&family=Source+Sans+Pro&display=swap');


.header-wrapper {
    display: grid;
    grid-template-columns: 1fr 2fr;
    background: linear-gradient(100deg, #997551, #3C5376);
}


.logo {
    margin: 5px;
    width: 80px;
    height: auto;
}

.navbar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: x-large;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
    color: white;
    font-family: 'Playfair Display', serif;
}

.home-decor {
    display: grid;
    grid-template-columns: 1fr;
    margin: 20px;
    align-items: center;
}

.innlegg {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #3C5376;
    border-radius: 30px;
}


.innlegg-img {
    margin-left: 100px;
    margin-top: 20px;
    height: 700px;
    width: 700px;
    border-radius: 30px;
}

h2 {
    font-family: 'Playfair Display', serif;
    display: flex;
    justify-content: center;
    text-align: left;
    color: white;
    font-size: xxx-large;
    width: 80%;
}

p {
    font-family: 'Source Sans Pro', sans-serif;
    margin: 20px;
    text-align: left;
    color: white;
    font-size: medium;
    width: 80%;
}