
body {
    background-image: url(img/3.svg);
}

.header-wrapper {
    display: grid;
    grid-template-columns: 1fr 2fr;
    background: linear-gradient(100deg, #997551, #3C5376);
}


.logo {
    margin: 5px;
    width: 80px;
    height: auto;
}

.navbar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: x-large;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
    color: white;
}

.hero {
    width: 100%;
    height: 600px;
}

.home-decor {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
}

.innlegg {
    display: grid;
    justify-content: center;
    margin: 20px;
    background-color: #3C5376;
    border-radius: 30px;
}

.innlegg-2 {
    display: grid;
    justify-content: center;
    margin: 20px;
    background-color: #997551;
    border-radius: 30px;
}

.innlegg-img {
    margin-left: 100px;
    margin-top: 20px;
    height: 400px;
    width: 400px;
    border-radius: 30px;
}

p {
    margin: 20px;
    text-align: left;
    color: white;
    font-size: small;
}